nav{
  background-color: #0B346E;
  font-size: 20px;
  padding: 0 50px;
  line-height: 60px;

  ul{
    display: flex;
    li{
      padding: 0 20px;
      font-weight: 700;
        a{
          text-decoration: none;
          color: #F05E1C;
        }
    }
    li:hover{
      background-color:#F05E1C;
      a{
        color: #0B346E;
      }
    }
  }
  
}
nav.header{
  display: flex;
  justify-content: space-between;
  p{
    color: #F05E1C;
    padding: 0 15px;
  }
}