.posts{
  .main_section{
    ul.write_comments{
      li{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        textarea{
          border: 2px solid #0B346E;
          background-color: #0B346E;
          color: #fff;
          width: 83%;
          font-size: 20px;
          line-height: 20px;
          padding: 5px 10px;
          height: 1em;
        }
        input{
          width: 14%;
          border: 2px solid #0B346E;
          background-color: #F05E1C;
          font-size: 20px;
        }
      }
    }
    ul.comments{
      li.comment{
        font-size: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        p{
          padding-left: 10px;
        }
        p.author{
        }
        a{
          text-decoration: none;
          background-color: #F05E1C;
          color: #0B346E;
          text-align: center;
          line-height: 28px;
          margin-left: 20px;
          border: 2px solid #0B346E;
        }
      }
    }
    .icon{
      i{
        color: #f55;
      }
    }
  }
}