<h1>新增看板</h1>

<%= form_for(@board) do |f| %>
  <%= f.label :title, '看板標題' %>
  <%= f.text_field :title %>

  <%= f.submit %>
<% end %>

<!-- 自己手刻
<form action="/boards" method="post">
  <input type="hidden" name="authentity_key">
  <input type="text" name="board[title]">
  <button type="submit">送出</button>
</form> -->