<h1>看板：<%= @board.title %></h1>

<%= link_to "新增文章", new_board_post_path(@board) %>

<table class="board <%= @board.title %>">
  <thead>
    <tr>
      <th>文章標題</th>
    </tr>
  </thead>
  <tbody>
  <%  @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post %></td>
    </tr>
  <% end %>
</tbody>
</table>