// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$error_color: red;

.field_with_errors {
  display: inline;

  label {
    color: $error_color;
  }

  input[type=text] {
    border: solid 1px $error_color;
    color: $error_color;
  }
}
.content{
  padding: 0 60px;
}